# Docs
.ppt
.pptx
.doc
.docx

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# by hand:
Results_dus_common_infection_antibiotics.pptx
Results_dus_drug_resistant_antibioitics.pptx
